// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quest {
	border:#ff0000;
	background:#ffcccc;
	color: white;
	margin: 0 0 1% 0;
}

			
img.thumbnail {
	width:30%; 
	height:30%;
}

